html,body{
    height: 100%;

}
.content{
    min-height: 100%;
   }
.pad{
    padding-top: 55px;
}
/*header{
    margin-bottom: 40px;
}*/
.footer{
    /*padding: 70px 0;
    margin-top: 70px;*/
    border-top: 1px solid #E5E5E5;
    background-color: whiteSmoke;
    height: 80px;
    margin-top: -80px;
    background: url(images/bg-k10.png) repeat;
    border-bottom: 4px solid #f6f6f6;
    color: #666 !important;
}
.hfooter{
    height: 100px;
}
.item{
    width: 100%;
    border: 1px solid #B4B4B4;
    webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15),inset 0 0 0 1px rgba(255, 255, 255, 0.9);
    -moz-box-shadow: 0 1px 10px 0 rgba(0,0,0,0.15),inset 0 0 0 1px rgba(255,255,255,0.9);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15),inset 0 0 0 1px rgba(255, 255, 255, 0.9);
}

.img{
    display: block;
    width:100%;
    min-heigt:100%;
    border-top: 1px solid #CCC;
}
.item:hover{
    -webkit-box-shadow:0 1px 10px 0 rgba(16, 118, 167, 0.51),inset 0 0 0 1px rgba(255, 255, 255, 0.9);
    -moz-box-shadow:0 1px 10px 0 rgba(16, 118, 167, 0.51),inset 0 0 0 1px rgba(255,255,255,0.9);
    box-shadow:0 1px 10px 0 rgba(16, 118, 167, 0.51),inset 0 0 0 1px rgba(255, 255, 255, 0.9);
}
.item_header {
    padding:10px;
    
    
}
.item a{
    text-decoration: none;
}

.result{
    /*border:1px solid #E5E5E5;*/
    /*border-bottom:0;*/
    padding: 0px 0 10px 0;
    /*display:table;*/
    
}
.filtr{
    border:1px solid #E5E5E5;
    border-right:0;
}

/*hr {
margin: 20px 0 40px 0;
border-top: 1px solid #EEE;
border-bottom: 1px solid white;
display: block;
-webkit-margin-before: 0.5em;
-webkit-margin-after: 0.5em;
-webkit-margin-start: auto;
-webkit-margin-end: auto;
border-width: 1px;
}*/
.text_icon{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    
}
.details{
    width: 45%;
    padding: 0 0 0 10px;
}
.picture{
    width: 20%;
    /*display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;*/
}
.price{
    width: 20%;
}
.menuhide {
    
}
#side{
    border-bottom:  1px solid lightGrey;
}

.bag{
    background: url('/images/bag.png') repeat;

}
.bg_reg {
    margin-top: 50px;
    height: 100px;
    border: 4px solid #0088cc;
 }  

            .jumbo {
                font-size: 20px;font-weight:normal;padding:14px 24px;margin-right:10px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;
                }
            .button_edit_textarea {
                position:relative;
                top: -45px;
                left:10px;
                float:right;
                width:  48px !important;  
                height: 48px; 
                margin: 0;
                padding:0;
                border: 0;
                background: transparent url('../images/png/edit_textarea.png') no-repeat center top;
                text-indent: -1000em;
                cursor: pointer;
                opacity: 0.5; 
                cursor: hand;              
            }
            .button_edit_textarea:hover, .new_coorse_add_button:hover, .image_collapse_open:hover{
                opacity: 1.0;
            }
             
             ..image_collapse_open{
                width:60px !important;
                height:60px !important;
             }
            .new_coorse_add_button, .image_collapse_open{
                opacity: 0.7;   
            }
            
            .button_save {
                float:right;
                 position:relative;             
            }
            .new_coorse_add_button{
                width:  64px !important;  
                height: 64px; 
                margin: auto auto !important;
                padding:0;
                border: 0;
                cursor: pointer;
                
                cursor: hand;               
            }
            .accordion-group:hover, .accordion-group:active, .accordion-group:focus {                
                background: #f5f5f5;
            }
            .accordion-group {
                margin:0;                                
                border-radius:0px;
            }
            #new_course_text {
                font-size: 12px;
            }            
            .accordion-toggle{
                padding: 0px !important;
            }
            .table_course {
                border:0px;
                width:100%;
                height:85px !important;
            }
            .picture_course {
                
                margin: 0;
            }
            .picture_course img{
                padding: 0px 10px 0px 0px;
                height: 80px;
                width:140px;
                margin: 0px;
            }
            .name_course {
                float:left;
                width: 250px;
                padding: 5px;
            }
            .name_course a, {
                text-decoration: none;
                color:#0381cb;
            }
            .name_course a:hover {
                text-decoration: none;
                
            }
            .price_course {
                color:#e28768;
                text-align:right;
                margin: 5px 10px 5px 10px;
            }
            .description_course {
                word-wrap: break-word;
            }
            .controls file {
                
            }
            .location_courses{
                float:left;
            }

            
            .type_file { /* блок-родитель, внутри которого будут позиционироваться остальные элементы для реализации стильного поля выбора файлов */
                position: relative;
                height: 26px;
            }
            .inputFile { /* поле type="file" */
                z-index: 2; /* z-слой должен быть больше, чем у блока с оформлением */
                filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0); /* делаем поле абсолютно прозрачным */
                -moz-opacity: 0;
                -khtml-opacity: 0;
                opacity: 0;
                width: 200px; /* задаем ширину для всех браузеров. Для firefox подбираем значение параметра size в поле */
            }
            .fonTypeFile { /* блок с оформлением */
                width: 77px; /* размеры картинки для оформления */
                height: 32px;
                position: absolute;
                top: 3px;
                left: 230px;
                z-index: 1; /* z-слой меньше, чем у поля выбора файла */
            }
            .inputFileVal { /* поле, в котором будет показан результат выбора файла */
                position: relative;
                top: 3px;
                left: 0px;
                z-index: 2;
                width: 206px;
                background: none;
                border: none;
            }
        .icon-remove_button{
            float:right; 
            opacity:0.4;
            
        }
        .icon-remove_button:hover{
            opacity:1;
        }
        .margino{
            margin: 0px !important;
        }
.texture{
    
    background: url('../images/bg6.gif');
    position: relative;
    margin-top: 40px;
    padding: 60px;
    margin-bottom: 10px;
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075) ;
    color: white;      
}


.hero-unit2 h1 {
  text-align: center;  
  margin-bottom: 0;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
  color: inherit;
  margin-left: auto;
  margin-right: auto;
}

.hero-unit2 p {
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
}

.navig {
    margin: 5px;
}

.iss {
    display: none;
}