<div class="container">
<div class="row">
    <div class="span3">
        

        <br />
        <form action="/summerhouse" method="post">
            <select onchange="this.form.submit()" name="location">
                <option value="all" >Все</option>
                <option value="kamen" >Зал на Комендантском</option>
                <option value="pioner">Зал на Пионерской</option>
                <option value="krest">Зал на Крестовском</option>
                <option value="vas">Зал на Ваське</option>
                <option value="punk">Зал в ПУНКе</option>
            </select>
        </form>
    </div>
    <div class="span9">
        <div class="thumbnail">
            <img src="../images/comp.jpg" />
        </div>
        <br />
        <div class="well well-small" id="about">
            <h6>О компании</h6>
            
            
            <p>
                      
            
Notice: Undefined variable: data in M:\home\improvy\www\application\views\company_view.php on line 31

Call Stack:
    0.0027     329568   1. {main}() M:\home\improvy\www\application\views\company_view.php:0


Warning: mysql_fetch_array() expects parameter 1 to be resource, null given in M:\home\improvy\www\application\views\company_view.php on line 31

Call Stack:
    0.0027     329568   1. {main}() M:\home\improvy\www\application\views\company_view.php:0
    0.0028     329632   2. mysql_fetch_array() M:\home\improvy\www\application\views\company_view.php:31


Notice: Undefined index: action in M:\home\improvy\www\application\views\company_view.php on line 39

Call Stack:
    0.0027     329568   1. {main}() M:\home\improvy\www\application\views\company_view.php:0


Notice: Undefined index: test in M:\home\improvy\www\application\views\company_view.php on line 42

Call Stack:
    0.0027     329568   1. {main}() M:\home\improvy\www\application\views\company_view.php:0

<form name="frm" method="POST"><input type="submit" value="Редактировать!" class="btn">
Notice: Undefined index: test in M:\home\improvy\www\application\views\company_view.php on line 50

Call Stack:
    0.0027     329568   1. {main}() M:\home\improvy\www\application\views\company_view.php:0

</h6><p><input type="hidden" name="text" value=""><input type="hidden" name="action" value=2></form>                		<script>
        	$('.textarea').wysihtml5();
        </script>
        <script type="text/javascript" charset="utf-8">
        	$(prettyPrint);
        </script>
                 </p>
                
                
                
                
                
                
                
                
        </div>
        <div id="courses">
            <table class="table table-hover">
               <tr>
                    <td class='picture'><img src='../images/1.jpg'/></td>
                    <td class='details'>
                    <span class='page-header'> 
                    <h4><a></a><p><small></small></h4>
                    </span>
                    </td>
                    <td class='price'><p class='lead'></p></td>
               </tr>
            </table>
        </div>
        </div>
        
    </div>
</div>
</div>